.logoUserPanel {
  height: 32px;
  margin: 16px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #1890ff;
}

.user-header {
  background: #f0f2f5;
  padding: 0 16px;
  font-size: 18px;
  line-height: 64px;
  font-weight: bold;
}

.user-content {
  margin: 16px;
  padding: 24px;
  background: #ffffff;
  min-height: 280px;
}
