/* LayoutComponent.css */

.custom-header {
  background: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  width: 30%;
  padding: 0 16px;;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: block;
}
.menu-custom {
  min-width: 70%;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .desktop-menu {
      display: block;
  }

  .mobile-menu {
      display: none;
  }
}

.custom-content {
  padding: 40px 40px 0px 40px;
}

.content-inner {
  min-height: 280px;
  min-width: 348px;
  padding: 24px;
}

.card-col {
  display: flex;
  justify-content: center;
}

.custom-footer {
  text-align: center;
}
